apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.microservice.name }}
  labels:
    app: {{ .Values.microservice.name }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http-{{ .Values.microservice.name }}
  selector:
    app: {{ .Values.microservice.name }}
