# Copyright (c) Tetrate, Inc 2019 All Rights Reserved.

server {
  listen 80;

  root /usr/share/nginx/html;
  index index.html;

  location /v1/ {
      proxy_pass http://${API_HOST}:${API_PORT}/v1/;
      proxy_http_version 1.1;
  }

  location / {
    try_files $uri $uri/ /index.html?/$request_uri;
  }
}
